<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    {{ partial "header/meta.html" . }}
    <title>{{ block "title" . }}{{ if isset .Title }}{{ .Title }} | {{ end }}{{ $.Site.Title }}{{ end }}</title>
    {{ partial "header/scripts.html" . }}
</head>
<body>
<div class="grid-container">
    {{ partial "header/site-header.html" . }}
    {{ block "main" . }}
    <div class="grid-x">
        <div class="cell">{{ .Content }}</div>
    </div>
    {{ end }}
    {{ block "footerInfo" . }}
        {{ partial "footer/site-footer.html" (dict "TemplateFile" "partials/footer/site-footer.html" "ContentFile" .Params.contentFile) }}
    {{ end }}
</div>
{{ partial "footer/scripts.html" . }}
</body>
</html>
