@import 'base/index';

.tst {
  background-color: #0a0a0a;
  @include breakpoint(small) {
    background-color: #22bb5b;
  }
  @include breakpoint(medium) {
    background-color: #ffae00;
  }
  @include breakpoint(large) {
    background-color: #cc4b37;
  }
}
